.carousel-container {
    overflow: hidden;
    height: 400px;
}

.carousel-title {
    margin-top: 7rem;
    text-align: start;
    margin-left: 0.5rem;
}


@media only screen and (min-width: 48rem) {
    .carousel-container {
        height: 500px;
    }
}

@media only screen and (min-width: 64rem) {
.carousel-title {
    margin-top: 2rem;
}
}




